---

---

<section class="w-full bg-customDarkBg2 mt-12 sm:mt-20 mb-10 lg:my-20 pt-4">
    <div class="flex flex-wrap items-center 2xl:w-[1450px] xl:w-[1300px] w-11/12 mx-auto md:pl-4 xl:pr-16 xl:pl-16">
        <div class="w-11/12 sm:w-3/4 mx-auto lg:w-1/2 flex flex-wrap lg:-mx-4 sm:pr-8 justify-center order-last lg:order-first">
            <div class="mb-8 lg:mb-0 w-full px-2 lg:pl-16 flex flex-col justify-center md:pl-8">
                <div class="mb-4 py-3 rounded">
                    <img
                        src="/consultoring.jpeg"
                        alt="f1"
                        class="rounded-xl  custom-border-gray"
                    />
                </div>
            </div>
        </div>

        <div class="w-full lg:w-1/2 mb-12 lg:mb-0 xl:pl-8">
            <div class="mx-auto lg:mx-auto w-11/12 sm:w-4/5 md:w-3/4 lg:w-unset ">
                <!-- <span class="custom-block-subtitle">
                    Make Data-Driven Decisions
                </span> -->
                <h2 class="mt-6 mb-8 text-4xl lg:text-4xl custom-block-big-title">
                    Consultoría de marketing
                </h2>
                <p class="leading-loose mb-5 text-justify">
                    Orange Dot ofrece servicios especializados de consultoría de marketing a empresas, proporcionando soluciones personalizadas para mejorar las estrategias de marketing.
                </p>
                <p class="leading-loose mb-12 text-justify">
                    Los servicios incluyen el desarrollo de planes de marketing, la realización de estudios de mercado, la optimización de los esfuerzos de marketing digital, las relaciones públicas, el análisis de sitios web y páginas de destino, y el análisis de las métricas de rendimiento para impulsar el crecimiento y maximizar el retorno de la inversión. Colabore con nosotros para elevar sus esfuerzos empresariales.
                </p>
            </div>
        </div>
    </div>
  </section>

  <style>
    h2 {
        color: var(--action-color);
    }
  </style>