---
import { Icon } from 'astro-icon'

const { icon = 'mdi:rocket', title = 'Title', color = 'orange' } = Astro.props
---
<a href="/es/services/" style="text-decoration: none;">
  <div class=`feature ${color} flex flex-col gap-4 hover:-translate-y-4 transition duration-300`>
    <!-- <Icon name={icon} /> -->
    <div class="content">
      <h3 class=" dark:text-white md:text-2xl">{title}</h3>
      <p>
        <!-- <slot>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, corporis.</slot> -->
      </p>
    </div>
  </div>
</a>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;

  .feature {
    position: relative;
    width: calc(100% - 0.5rem);
    padding: 2rem;

    > * {
      position: relative;
      z-index: 2;
    }

    @include breakpoint(large) {
      width: 100%;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      inset: 0;
      background-color: var(--neutral-100);
      border: 3px solid var(--neutral-700);
      border-radius: 1rem;
      box-shadow: 0 0 0 6px var(--neutral-100);
      z-index: 1;
    }

    &::after {
      background-color: var(--action-color);
      inset: 1rem -0.85rem -0.85rem 1rem;
      border-radius: 1rem;
      z-index: 0;
    }

    // --Purple
      &.purple::after {
        background-color: #8E44AD !important;
      }
    //  End Pruple

    //  Rose
      &.pink::after {
        background-color: #FF69B4 !important;
      }

    //  End rose

    //  Blue
      &.blue::after {
        background-color: #2E86C1 !important;
      }

    //  End Blue

    //  green
      &.green::after {
        background-color: #28B463 !important;
      }

    //  End green


    //  red
      &.red::after {
        background-color: #E74C3C !important;
      }

    //  End red

   
  }

  :global(.feature [astro-icon]) {
    width: 4rem;
    color: var(--action-color);
  }

  
  // Purple
    :global(.feature.purple [astro-icon]) {
      color: #8E44AD !important;
    }
  //  End Pruple

   //  Rose
    :global(.feature.pink [astro-icon]) {
        color: #FF69B4 !important;
      }
    //  End rose

    //  blue
    :global(.feature.blue [astro-icon]) {
        color: #2E86C1 !important;
      }
    //  End blue

    // green
      :global(.feature.green [astro-icon]) {
        color: #28B463 !important;
      }
    //  End green

    //  red
      :global(.feature.red [astro-icon]) {
        color: #E74C3C !important;
      }
    //end Red

  :global(.feature h3) {
    color: var(--action-color);
  }

  :global(.darkmode .feature::before) {
    background-color: var(--dark-100);
    box-shadow: 0 0 0 6px var(--dark-100);
  }

  @media (min-width: 680px) {
    .feature {
      height: 95%;
    }
  }

</style>
