---

const testimonials = [
  {
    name: 'C. Davis',
    description: 'Owner, CD3 Construction',
    image: '/assets/testimonial-1.webp',
    message:
      'Heres a sample of what our clients say about what we are doing for them. Highly professional landing page, Google and Facebook ads.Very happy with the results. Thanks Irasema!',
  },
  {
    name: 'Rosa Spencer',
    description: 'Team Leader',
    image: '/assets/testimonial-2.webp',
    message:
      '“Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita voluptas culpa sapiente alias molestiae. Numquam corrupti in laborum sed rerum et corporis.”',
  },
  {
    name: 'Christina Upton',
    description: 'Manager',
    image: '/assets/testimonial-3.webp',
    message:
      '“Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita voluptas culpa sapiente alias molestiae. Numquam corrupti in laborum sed rerum et corporis.”',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="testimonial v mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col items-center gap-12 lg:gap-20">
      <h2 class="mx-auto max-w-xl text-center text-3xl font-medium tracking-tight sm:text-4xl">
        What Our Clients Say
      </h2>
      <div
        class="divide-primary-900/10 dark:divide-primary-300/10 grid divide-y lg:grid-cols-3 lg:divide-x lg:divide-y-0"
      >
        {
          testimonials.map((testimonial) => (
            <figure class="mx-auto flex max-w-lg flex-col items-center gap-6 py-8 lg:px-8 lg:py-0">
              <div class="flex flex-row gap-2">
              </div>
              <blockquote class="text-primary-950/70 dark:text-primary-200/70 text-center text-lg italic leading-loose">
                <p>{testimonial.message}</p>
              </blockquote>
              <figcaption class="flex flex-col gap-4">
                <img class="mx-auto h-8 w-8 rounded-full" src={testimonial.image} alt="" />
                <div class="text-center">
                  <div class="text-base font-medium">{testimonial.name}</div>
                  <div class="text-primary-950/70 dark:text-primary-200/70 text-sm">
                    {testimonial.description}
                  </div>
                </div>
              </figcaption>
            </figure>
          ))
        }
      </div>
    </div>
  </div>
</section>


<style>
  :global(.testimonial h2) {
    color: var(--action-color);
  }

  .bg-customDarkBg2 {
    --tw-bg-opacity: 1;
    background-color: rgb(38 39 43 / var(--tw-bg-opacity));
  }

  .bg-customDarkBg3 {
    --tw-bg-opacity: 1;
    background-color: rgb(48 49 54 / var(--tw-bg-opacity));
  }
</style>