---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { Card, Pagination } from 'accessible-astro-components'
import { Icon } from 'astro-icon'

export async function getStaticPaths({ paginate }) {
  const response = await fetch('https://jsonplaceholder.typicode.com/posts')
  const data = await response.json()

  return paginate(data, { pageSize: 6 })
}

const servicesCard = [
  {
    icon: 'mdi:marketplace',
    title: 'Marketplace Research',
    description: 'We have tools and methods to research and analyze what works best in your marketplace, local and beyond. We can even see what your competition is doing! This helps us to develop the most effective strategy that will allow you to start seeing increased business sooner rather than later.'
  },
  {
    icon: 'mdi:cellphone-wireless',
    title: 'Social Media Advertising',
    description: 'Social media marketing is the use of social media platforms to connect with your audience to build your brand, increase sales, and drive website traffic. We will create great content on your social media profiles, listen to and engage your followers, analyze your results, and run effective social media ads that will generate hot leads, every month.'
  },
  {
    icon: 'mdi:search-web',
    title: 'Search Engine Advertising',
    description: 'Search-engine advertising (SEA) is a branch of online marketing. Advertisements in the form of a text or images are posted on search engines such as Google. We have a proprietary, white-hat, 1-to-1 method that leverages effective use of hundreds of keywords with affordable pricing. Allowing your business to compete with bigger spenders, while spending considerably less.'
  },
  {
    icon: 'mdi:cellphone-link',
    title: 'Web, Landing Page and Digital Design',
    description: 'We design websites, landing pages that work! Our design team builds designs that are minimalist and attractive, presenting information non-intrusively. To avoid sidetracking people with redundant visual elements, we use clean, simple designs with plenty of white space that keeps people on your product or service and calls to actions.'
  },
  {
    icon: 'mdi:bullhorn-outline',
    title: 'Branding and identity',
    description: 'Our design team will work closely to understand your business core values, ideas and target customers in order to identify and design your business brand.Our branding strategy will focus on bringing awareness to your customers and market strategy in order to accomplish market adoption and activation. '
  },
  {
    icon: 'mdi:account-convert',
    title: 'Lead Tracking and Nurturing',
    description: "We specialize in lead tracking, we help you send targeted messages based on a prospect's stage in the buying process. Lead nurturing is the process of developing and reinforcing relationships with buyers at every stage of the sales funnel. These services we can do for you, or train you and/or your staff to handle in your own CRM."
  },

];



---

<DefaultLayout
  title="Services"
  description="An example of a blog with dynamic content fetched from JSONPlaceholder using the title, body and userId."
>
<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="sm:space-8 space-y-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl text-orange-500 text-center">Out Services</h2>
      <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">

        {servicesCard.map((item) =>(
          <div class="feature flex flex-col gap-4 my-4 hover:-translate-y-6 transition duration-500">
            <Icon name={item.icon} />
            <div class="content">
              <h3>{item.title}</h3>
              <h5>We are experts at finding out what works best!</h5>
              <p>
                {item.description}
              </p>
            </div>
          </div>
          
        ))}
      </div>
    </div>
  </div>
</section>

</DefaultLayout>

<style lang="scss">
  

  .feature {
    position: relative;
    width: calc(100% - 0.5rem);
    padding: 2rem;

    > * {
      position: relative;
      z-index: 2;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      inset: 0;
      background-color: var(--neutral-100);
      border: 3px solid var(--neutral-700);
      border-radius: 1rem;
      box-shadow: 0 0 0 6px var(--neutral-100);
      z-index: 1;
    }

    &::after {
      background-color: var(--action-color);
      inset: 1rem -0.85rem -0.85rem 1rem;
      border-radius: 1rem;
      z-index: 0;
    }
  }

  :global(.feature [astro-icon]) {
    width: 4rem;
    color: var(--action-color);
  }

  :global(.darkmode .feature::before) {
    background-color: var(--dark-100);
    box-shadow: 0 0 0 6px var(--dark-100);
  }
</style>
