---

---

<section class="w-full bg-customDarkBg2 mt-12 sm:mt-20 mb-10 lg:my-20 pt-4">
    <div class="flex flex-wrap items-center 2xl:w-[1450px] xl:w-[1300px] w-11/12 mx-auto md:pl-4 xl:pr-16 xl:pl-16">
        <div class="w-11/12 sm:w-3/4 mx-auto lg:w-1/2 flex flex-wrap lg:-mx-4 sm:pr-8 justify-center order-last lg:order-first">
            <div class="mb-8 lg:mb-0 w-full px-2 lg:pl-16 flex flex-col justify-center md:pl-8">
                <div class="mb-4 py-3 rounded">
                    <img
                        src="/consultoring.jpeg"
                        alt="f1"
                        class="rounded-xl  custom-border-gray"
                    />
                </div>
            </div>
        </div>

        <div class="w-full lg:w-1/2 mb-12 lg:mb-0 xl:pl-8">
            <div class="mx-auto lg:mx-auto w-11/12 sm:w-4/5 md:w-3/4 lg:w-unset ">
                <!-- <span class="custom-block-subtitle">
                    Make Data-Driven Decisions
                </span> -->
                

                <h2 class="mt-6 mb-8 text-4xl lg:text-4xl custom-block-big-title">
                    Marketing Consulting
                </h2>
                <p class="leading-loose mb-5 text-justify">
                    Orange Dot offers specialized marketing consulting services to businesses, providing customized solutions to enhance marketing strategies. 
                </p>
                <p class="leading-loose mb-12 text-justify">
                    Services include developing marketing plans, conducting market research, optimizing digital marketing efforts, PR, website and landing page analysis, and analyzing performance metrics to drive growth and maximize ROI. Collaborate with us to elevate your business efforts.
                </p>
            </div>
        </div>
    </div>
  </section>

  <style>
    h2 {
        color: var(--action-color);
    }
  </style>