---
import { Icon } from 'astro-icon'

const { src = '/astronaut-hero-img.webp' } = Astro.props
// const { src = '/astronaut2.jpg' } = Astro.props
---

<section class="hero my-1">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-24 lg:grid-colsbash-2">
      <div class="flex flex-col items-center gap-2 md:items-start">
        <h1 class="text-center text-5xl md:text-left lg:text-7xl animate-fade-right animate-ease-in-out animate-delay-300">
          <slot>
            <span class="text-gradient">Spread More.</span>
          </slot>
        </h1>
        <h1 class="text-center text-5xl md:text-left lg:text-7xl animate-fade-right animate-ease-in-out animate-delay-700">
          <slot>
            Reach More.
          </slot>
        </h1>
        <h1 class="text-center text-5xl md:text-left lg:text-7xl animate-fade-right animate-ease-in-out animate-delay-1000">
          <slot>
            Grow More.
          </slot>
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row max-sm:hidden animate-fade-right animate-ease-in-out animate-delay-1000">
          <a class="button has-icon" href="https://github.com/markteekman/accessible-astro-starter">
            <Icon pack="mdi" name="arrow-right-circle-outline" />
            Contact Us
          </a>
        </div>
      </div>
      <img class="lg:block  animate-fade-left animate-ease-in-out animate-delay-1000" src={src} alt="" decoding="async" />
    </div>
    <div class="flex flex-col gap-3 min-[500px]:flex-row min-[650px]:hidden my-20 max-sm:animate-fade-up max-sm:animate-ease-in-out animate-delay-1000 px-14">
      <a class="button has-icon" href="https://github.com/markteekman/accessible-astro-starter">
        <Icon pack="mdi" name="arrow-right-circle-outline" />
        Contact Us
      </a>
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
