---
import { Media } from 'accessible-astro-components'


const { imgSrc, reverseImg = false } = Astro.props

---

<section class="lg:mb-16 bg-black content-media">

    <div class=" 2xl:w-[1150px] xl:w-[1050px]  md:w-4/5 flex justify-center  pt-12 lg:pt-24 pb-8 lg:pb-0 mx-auto lg:flex-row flex-col">
      <div class="w-4/5 lg:w-2/5 lg:p-11 flex justify-center mx-auto pt-16 lg:pt-0">
        <img
          src={imgSrc}
          alt="f1"
          class="rounded-xl  custom-border-gray"
        />
      </div>
      <div class="w-3/4 lg:w-1/2 flex flex-col lg:mx-unset mx-auto space-content">
        <slot />
      </div>
    </div>
  <div class="custom-shape-divider-top-1665696661 w-full">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
      class="dark:bg-[#161618] bg-white"
    >
      <path
        d="M1200 120L0 16.48 0 0 1200 0 1200 120z"
        class="dark:custom-bg-dark1"
      ></path>
    </svg>
  </div>
</section>


<style>

  :global(.content-media h1) {
    color: var(--action-color);
  }

  .dark-mode .bg-customDarkBg1 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 32 35 / var(--tw-bg-opacity));
    fill: rgb(31, 32, 35);
  }

  .dark-mode .bg-customDarkBg2 {
    --tw-bg-opacity: 1;
    background-color: rgb(38 39 43 / var(--tw-bg-opacity));
  }

  .image-why{
    width: 100%;
    margin: auto;
  }

  /* Hero */

.custom-shape-divider-bottom-1665343298 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-bottom-1665343298 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 200px;
}
.hero-title-gradient {
  background: -webkit-linear-gradient(white, #b4add1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Features Top */

.custom-shape-divider-bottom-1665696614 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1665696614 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 127px;
  transform: rotateY(180deg);
}

/* Features Bottom */

.custom-shape-divider-top-1665696661 {
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-top-1665696661 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 127px;
  transform: rotateY(180deg);
}


</style>